@font-face {
font-family: 'TT Lakes Regular';
src: url('../fonts/TTLakes-Regular.eot');
src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/TTLakes-Regular.woff') format('woff'),
url('../fonts/TTLakes-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'TT Lakes Bold';
src: url('../fonts/TTLakes-Bold.eot');
src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/TTLakes-Bold.woff') format('woff'),
url('../fonts/TTLakes-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	font-family: 'TT Lakes Regular';
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.2px;
	color: #1B1C21;
}

.header {
	display: flex;
	width: 100%;
	border-bottom: #D9FFF5 1px solid;
	justify-content: space-between;
}

.header__group-of-buttons {
	display: flex;
	padding: 17px 24px;
	align-items: center;
}

.button {
	padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
	cursor: pointer;
}

.button:active,
.button:focus {
	outline: none;
}

.header__button {
	margin: 0 8px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.header__button--burger {
	background: #FF3E79 url(../header-icons/burger.svg) no-repeat center;
	margin: 0;
}

.header__button--call {
	background: #FF3E79 url(../header-icons/call.svg) no-repeat center;
}

.header__button--chat {
	background: #FF3E79 url(../header-icons/chat.svg) no-repeat center;
}

.header__button--profile {
	background: #FF3E79 url(../header-icons/profile.svg) no-repeat center;
}

.header__button--repair {
	background: #FF3E79 url(../header-icons/repair.svg) no-repeat center;
}

.header__button--checkstatus {
	background: #FF3E79 url(../header-icons/checkstatus.svg) no-repeat center;
}

.header__logo {
	width: 97px;
	height: 51px;
	background: url(../header-icons/Group.svg) no-repeat center;
	margin-left: 16px;
}

.main {
	display: flex;
	flex-wrap: wrap;
	background: #F8F8F8;
	width: 100%;
	padding: 24px 16px 0;
}

.main__header {
	margin-top: 0;
	margin-bottom: 24px;
	font-family: 'TT Lakes Bold';
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -0.6px;
	color: #1B1C21;
}

.main__header::before {
	content: '';
	height: 40px;
	width: 4px;
	background: url(../section__main-header/highlight.png);
	background-size: 100% 100%;
	display: inline-block;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.menu__item {
	display: flex;
	list-style: none;
}

.menu__link {
	text-decoration: none;
	display: flex;
}

.main__menu {
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #7E7E82;
	overflow: auto;
}

.main__menu::-webkit-scrollbar {
	width: 0;
}

.menu__item--bordered {
	flex-shrink: 0;
	padding: 8px 16px;
	margin-right: 16px;
}

.menu__item--bordered:focus,
.menu__item--bordered:hover {
	flex-shrink: 0;
	background: #FFFFFF;
	border: 2px solid #B8FFEC;
	box-sizing: border-box;
	border-radius: 6px;
	padding: 6px 14px;
}

.about-company {
	display: flex;
	flex-wrap: wrap;
}

.about-company__container {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 50%;
}

.about-company__text--hidden {
	display: none;
}

.about-company__button {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #1B1C21;
}

.about-company__button::before {
	content: url(../about-company__hover-button/icon.svg);
	padding-right: 16px;
}

.about-company__cps-img {
	max-width: 100%;
}





@media screen and (max-width: 767px) {
	
	.header__group-of-buttons {
		padding-left: 16px;
	}
	
	.header__button--hidden {
		display: none;
	}
	
	.header__logo::after {
		content: url(../header-icons/devider.svg);
		padding-left: 117px;
	}
	
	.header__button--repair {
		margin-left: 4px;
	}
	
	.main__buttons-container {
		display: none;
	}
	
	.main__header::before {
		margin-left: -15px;
		margin-right: 15px;
		margin-bottom: -8px;
	}
	
	.about-company__container {
		flex-basis: 100%;
		padding-bottom: 16px;
	}
	
	.about-company__container:last-child {
		padding-bottom: 16px;
		margin-left: -16px;
	}
}





@media screen and (min-width: 768px) and (max-width: 1119px) {

	.header__button--burger::after,
	.header__button--profile::after {
		content: url(../header-icons/devider.svg);
		padding-left: 60px;
	}
	
	.header__button--repair {
		margin-left: 35px;
	}
	
	.header__logo {
		margin-left: 40px;
	}
	
	.main {
		width: 100%;
		padding: 24px;
	}
	
	.main__buttons-container {
		display: none;
	}
	
	.main__header {
		width: 100%;
		padding: 0;
	}
	
	.main__header::before {
		margin-left: -24px;
		margin-right: 24px;
		margin-bottom: -8px;
	}
	
	.about-company {
		align-content: flex-start;
		box-sizing: border-box;
		padding-top: 24px;
	}
	
	.about-company__container {
		width: 50%;
		box-sizing:  border-box;
	}
	
	.about-company__container:last-child {
		padding-left: 48px;
	}
	
	.about-company__text {
		margin-top: 0;
	}
	
	.about-company__cps-img {
		border-radius: 6px;
	}
}





@media screen and (min-width: 1120px) {
	
	.header {
		display: none;
	}
	
	.main {
		padding: 42px 34px 0;
	}
	
	.main__header {
		width: 50%;
		padding: 0;
		margin-bottom: 12px;
	}
	
	.main__header::before {
		margin-left: -34px;
		margin-right: 34px;
		margin-bottom: -8px;
	}
	
	.main__buttons-container {
		display: flex;
		justify-content: flex-end;
		align-content: flex-start;
		width: 50%;
		margin-bottom: 12px;
	}
	
	.main__button {
		display: flex;
		align-items: center;
		align-content: flex-start;
		margin-left: 32px;
		font-family: 'TT Lakes Regular';
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
	}
	
	.main__menu {
		flex-shrink: 1;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	
	.about-company {
		align-content: flex-start;
		box-sizing: border-box;
		padding-top: 24px;
	}
	
	.about-company__container {
		width: 50%;
		box-sizing:  border-box;
	}
	
	.about-company__container:last-child {
		padding-left: 36px;
	}
	
	.about-company__text {
		margin-top: 0;
	}
	
	.about-company__cps-img {
		border-radius: 6px;
	}
}

